@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


.header{
    color: black;
    font-weight: 1000;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}
 #modalImg{ 
    height: 500px;
    width: 600px;
} 