body{
background-color: black;
}
img{
    width: 150px;
    height: 150px;
    padding-bottom: 25px;
    padding: 5px ;
    margin-top: 20px;
} 
.searchContainer{
    padding: 3.5rem 5rem 6rem 9rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
}
